.slider-container{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-x: scroll;

}
.slider-side-img-container-2{
    display: none;
}
.slider-side-img-container img{
    height: 100%;
}

.slider-side-img-container-2 img{
    width: 100%;
    height: 500px;
}


@media(max-width:800px){
    .slider-side-img-container{
        display:none;
    }
    .slider-side-img-container-2{
        display: block;
    }
}

@media (max-width:460px){
    .home-items-slider-container{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
   }