.items-container{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    overflow-x: scroll;
    font-size: 1em;
}

@media(max-width:1080px){
    .items-container{
        font-size: 0.7em;
    }
}

.mob-login-cls-container{
    margin-left: 25px;
}